- object_id = form.object.persisted? ? form.object.object_id : "new_association_#{form.object.object_id}"
= form.hidden_field field, id: "#{object_id}_input"
%trix-toolbar.clearfix{ id: "#{object_id}_toolbar"}
  .button-groups
    .button-group.pull-left
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix: {attribute: 'bold', key: 'b' }}}
        .icon.icon-bold
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix: {attribute: 'italic', key: 'i' }}}
        .icon.icon-italic
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix: {attribute: 'bullet' }}}
        .icon.icon-list-ul
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Link', data: { trix: {action: 'link', attribute: 'href', key: 'k' }}}
        .icon.icon-link
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Embed', data: { trix: {action: 'embed', attribute: 'iframe' }}}
        .icon.icon-code
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Blockquote', data: {trix: { attribute: 'quote' }}}
        quote
      %button.button.button-small.js-trix-photo{ type: 'button', tabindex: -1, title: 'Photo', data: {trix: { action: 'photo', attribute: 'photo' }}}
        .icon.icon-picture-o

    .button-group.pull-left
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h1', data: { trix: { attribute: 'h1' }}} H1
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h2', data: { trix: { attribute: 'h2' }}} H2
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h3', data: { trix: { attribute: 'h3' }}} H3
      %button.button.button-small{ type: 'button', tabindex: -1, title: 'h4', data: { trix: { attribute: 'h4' }}} H4

      -# %button.button.button-small{ type: 'button', tabindex: -1, title: 'Numbers', data: { attribute: 'number' }}
      -#   .icon.icon-list-ul

  .dialogs
    .dialog.link_dialog{ data: {trix: { attribute: 'href', dialog: 'href'}}}
      .link_url_fields
        %input{type: 'text', name: 'href', placeholder: 'Enter a URL…', required: true}
        .button-group
          %input.button{type: 'button', tabindex: -1, value: 'Link', data: {trix: { method: 'setAttribute'}}}
          %input.button{type: 'button', tabindex: -1, value: 'Unlink', data: {trix: { method: 'removeAttribute'}}}
    .dialog.link_dialog{ data: {trix: { attribute: 'iframe', dialog: 'iframe'}}}
      .link_url_fields
        %input{type: 'text', name: 'embed', placeholder: 'enter embed code', required: true}
        .button-group
          %input.button{type: 'button', tabindex: -1, value: 'Embed', onclick: 'createAttachment();'}

%trix-editor.text-input{input: "#{object_id}_input", toolbar: "#{object_id}_toolbar", id: "#{object_id}_editor", data: {intro: "true"}}

:javascript
  var trix = document.querySelector('trix-editor');
  trix.editor.createAttachment = function () {
    console.log('hi')
  }
  createAttachment = function() {
    var $input = $('input[name=embed]');
    var attachment = new Trix.Attachment({content: $input.val()});
    trix.editor.insertAttachment(attachment);
    $input.val('');
  }
