= form_for [spina, :admin, @article], html: { autocomplete: "off" } do |f|
  - content_for :notification_alert do
    = error_explanation!(@article)

  #page_content.tab-content.active
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label Title
        .horizontal-form-content= f.text_field :title

      .horizontal-form-group
        .horizontal-form-label Subtitle
        .horizontal-form-content= f.text_field :subtitle

      .horizontal-form-group
        .horizontal-form-label Content
        .horizontal-form-content= render 'spina/admin/shared/rich_text_field_plus', form: f, field: :content

      .horizontal-form-group
        .horizontal-form-label Excerpt
        .horizontal-form-content= f.text_area :excerpt

      .horizontal-form-group
        .horizontal-form-label Author
        .horizontal-form-content
          - if current_user.admin?
            = f.collection_select :author_id, Spina::Author.all, :id, :name, prompt: true
          - else
            = f.collection_select :author_id, [current_user], :id, :name

      .horizontal-form-group
        .horizontal-form-label Meta description
        .horizontal-form-content= f.text_field :meta_description

      .horizontal-form-group
        .horizontal-form-label Header photo
        .horizontal-form-content
          - if f.object.header_photo && f.object.header_photo.file.present?
            .image
              = image_tag f.object.header_photo.thumb
          = f.file_field :header_photo, accept: 'image/png,image/gif,image/jpeg'

      .horizontal-form-group
        .horizontal-form-label Select category
        .horizontal-form-content= f.collection_select :category_ids, Spina::Category.all.order(:title), :id, :title, {selected: @article.categories.map(&:id)}, multiple: true


      .horizontal-form-group
        .horizontal-form-label Publish date
        .horizontal-form-content= f.text_field :publish_date, value: (@article.publish_date.strftime("%d-%m-%Y") unless @article.new_record?), class: 'datepicker'


      .horizontal-form-group
        .horizontal-form-label Draft?
        .horizontal-form-content= f.check_box :draft, data: { switch: true }

  %button.button.button-primary{ type: 'submit', data: { icon: 'o' } }
    Save article

  = link_to "Cancel", spina.admin_articles_path, class: 'button button-link'

  - unless @article.new_record?
    .pull-right= link_to "Delete", spina.admin_article_path(@article), method: :delete, data: {confirm: "Are you sure you want to remove this article?"}, class: 'button button-link button-danger'
